<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <!-- Define servlet-mapped and path-mapped example filters -->
	<filter>
		<filter-name>TraceFilter</filter-name>
		<filter-class>ecom.ibeer.servlets.TraceFilter</filter-class>
		<init-param>
			<param-name>tracecontent</param-name>
			<param-value>date,session,path</param-value>
		</init-param>
	</filter>

    <!-- Define filter mappings for the defined filters -->
	<filter-mapping>
		<filter-name>TraceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>ProductStoreServlet</servlet-name>
		<servlet-class>ecom.ibeer.servlets.ProductStoreServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>ecom.ibeer.servlets.ProductServlet</servlet-class>
	</servlet>

	
	<servlet>
		<servlet-name>CustomerServlet</servlet-name>
		<servlet-class>ecom.ibeer.servlets.CustomerServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>ecom.ibeer.servlets.AdminServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/store</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/orders</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/secured/*</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
        <!-- Define the context-relative URL(s) to be protected -->
			<url-pattern>/secured/*</url-pattern>	
	<!-- If you list http methods, only those methods are protected -->
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
      <!-- Anyone with one of the listed roles may access this area -->
			<role-name>tomcat</role-name>
			<role-name>jetty</role-name>
		</auth-constraint>
	</security-constraint>

  <!-- Default login configuration uses BASIC authentication -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Example Basic Authentication Area</realm-name>
	</login-config>

    <!-- Security roles referenced by this web application -->
	<security-role>
		<role-name>tomcat</role-name>
	</security-role>
	
	<security-role>
		<role-name>jetty</role-name>
	</security-role>
	
</web-app>
